<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.overlakehome.locals"
      android:versionCode="1"
      android:versionName="1.0">

<application android:icon="@drawable/icon" android:label="@string/app_name">
          <activity android:name="MainActivity"
                  android:label="Locals"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
          </activity>
          <activity android:name=".DealsActivity"
                  android:label="Deals Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
          </activity>
          <activity android:name=".TrendsActivity"
                  android:label="HotPlaces Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
          </activity>
          <activity android:name=".PlacesActivity"
                  android:label="Places Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
          </activity>
          <activity android:name=".BookmarksActivity"
                  android:label="Bookmarks Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
          </activity>
         </application>

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest> 